<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="game.css">
</head>
<body>
<header>
    <img src="images/secret-hitler-icon.png" alt="secret-hitler-icon">
    <nav class="links">
        <a class="link" href="#">Все комнаты</a>
        <a class="link" href="#">Правила</a>
        <a class="link" href="#">Меню</a>
    </nav>
</header>
<main>
    <section class="fascist-field">
        <table class="fascist">
            <caption>Fascist</caption>
            <tbody>
            <tr>
                <td id="f1"></td>
                <td id="f2"></td>
                <td id="f3"></td>
                <td id="f4"></td>
                <td id="f5"></td>
                <td id="f-final"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="liberal-field">
        <table class="liberal">
            <caption>Liberal</caption>
            <tbody>
            <tr>
                <td id="l1"></td>
                <td id="l2"></td>
                <td id="l3"></td>
                <td id="l4"></td>
                <td id="l-final"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <aside class="players-container">
        <table class="players">
            <caption>Players</caption>
            <tbody>

            </tbody>
        </table>
    </aside>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="game.js"></script>
</body>
</html>