*, *:before, *:after {
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cards-container {
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
}

.cards-container > input {
    display: none;
}

.cards-container label:checked {
    border: aqua solid 4px;
}

.players-container {
    display: flex;
    justify-content: center;
    max-width: 75%;
    padding: 10px;
    margin: 5% auto 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 65px;
    height: 93px;
}

.role-card {
    width: 30%;
}

.vote-card {
    width: 60%;
}

.low {
    width: 60%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    min-height: 100%;
    background-color: #D4D1D0;
}

.fascist tr, .fascist td {
    border: 5px solid #FF8630;
    padding: 43px;
    vertical-align: top;
    line-height: 1.2;
    border-radius: 2px;
    background: #F39D47;
}

.liberal tr, .liberal td {
    border: 5px solid dodgerblue;
    padding: 43px;
    vertical-align: top;
    line-height: 1.2;
    background: #309CFB;
}

.fascist {
    border: 5px solid #FF8630;
    width: 75px;
    height: 102px;
    background: #F39D47;
    border-radius: 10px;
}

.liberal {
    border: 5px solid dodgerblue;
    width: 75px;
    height: 102px;
    background: #309CFB;
    border-radius: 10px;
}

/*.fascist {*/
/*    width: 470px;*/
/*}*/

/*.liberal {*/
/*    width: 395px;*/
/*}*/

.vote-progress {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border: 2px solid darkolivegreen;
    width: max-content;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px;
}

input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: aquamarine;
}

caption {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.fascist-field, .liberal-field {
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: -2%;
    border: 2px double;

}

.fascist-field {
    width: 550px;
}

.liberal-field {
    width: 475px;
}

.take-cards, .discard-cards {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: -2%;
    justify-content: center;
}

.take-cards {
    align-items: flex-end;
}

.discard-cards {
    align-items: flex-start;
}

.fascist-field {
    background: #F7C898;
}

.liberal-field {
    background: #76BCFA;
}

.fascist, .liberal {
    border-spacing: 10px;
    table-layout: fixed;
}

/*.fascist tr td {*/
/*    width: 65px;*/
/*}*/

header {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#CBC9D5, #A9A3C5);
}

.links .link + .link {
    margin-left: 30px;
}

.links .link {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: all 0.3s linear;
    border: 1px solid #E88F86;
    border-radius: 5px;
    font-size: 24px;
}

.links .link:hover {
    background-color: #FF8630;
    transition: background-color 0.3s linear;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside {
    display: flex;
}

#hitler-icon {
    width: 10%;
}

.fields {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* pop-ups */
/*.popup {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.2);*/
/*}*/

.popup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*.popup-body {*/
/*    min-height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 30px 10px;*/
/*}*/

.popup-body {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 30%;
    min-height: 250px;
    background: #BBBBBB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

/*.popup-content {*/
/*    background-color: white;*/
/*    color: rgb(0, 0, 0);*/
/*    max-width: 800px;*/
/*    padding: 30px;*/
/*}*/

.election-list {
    list-style: none;
}

h4, p {
    font-family: 'Roboto', sans-serif;
}

.modal-window-submit {
    background-color: #94B88F;
    box-shadow: 5px 5px #555555;
    transition: 0.5s;
    color: #fff;
    display: flex;
    margin: 5px 20px;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 7px 7px 7px 0;
}

.modal-window-submit:hover {
    box-shadow: 3px 3px #555555;
    transition: 0.5s;
}

.modal-window-submit:active {
    box-shadow: 1px 1px #555555;
    border: 2px solid #555555;
    transition: 0.3s;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.choice-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.choice-radio + img {
    cursor: pointer;
}

.choice-radio:checked + img {
    outline: 3px solid #343231;
    border-radius: 5%;
    transition: 0.3s outline-color;
}
