<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="game.css">
    <link rel="prefetch" href="images/rolesCards/card_shirt.png">
    <link rel="prefetch" href="images/rolesCards/fascist_1.png">
    <link rel="prefetch" href="images/rolesCards/fascist_2.png">
    <link rel="prefetch" href="images/rolesCards/fascist_3.png">
    <link rel="prefetch" href="images/rolesCards/hitler.png">
    <link rel="prefetch" href="images/rolesCards/liberal_1.png">
    <link rel="prefetch" href="images/rolesCards/liberal_2.png">
    <link rel="prefetch" href="images/rolesCards/liberal_3.png">
    <link rel="prefetch" href="images/rolesCards/liberal_4.png">
    <link rel="prefetch" href="images/rolesCards/liberal_5.png">
    <link rel="prefetch" href="images/rolesCards/liberal_6.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>
<body>
<header>
    <img id="hitler-icon" src="images/secret-hitler-icon.png" alt="secret-hitler-icon">
    <section class="player-info">

    </section>
    <nav class="links">
        <a class="link" href="http://localhost:3000">Выход</a>
    </nav>
</header>
<main>
    <div class="fields">
        <section class="fascist-field">
            <h4>Fascist</h4>
            <section class="cards">
                <label class="fascist" id="f1">

                </label>
                <label class="fascist" id="f2">

                </label>
                <label class="fascist" id="f3">

                </label>
                <label class="fascist" id="f4">

                </label>
                <label class="fascist" id="f5">

                </label>
                <label class="fascist" id="f6">

                </label>
            </section>
        </section>
        <section class="liberal-field">
            <h4>Liberal</h4>
            <section class="cards">
                <label class="liberal" id="l1">

                </label>
                <label class="liberal" id="l2">

                </label>
                <label class="liberal" id="l3">

                </label>
                <label class="liberal" id="l4">

                </label>
                <label class="liberal" id="l5">

                </label>
            </section>
        </section>
    </div>
    <div class="vote-progress">
        <p><b>Vote progress</b></p>
        <form>
            <label class="checkbox-inline">
                <input type="checkbox" value="" checked disabled> ➞
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="" disabled> ➞
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="" disabled> ➞
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="" disabled> Play politic card!
            </label>
        </form>
    </div>
    <aside class="players-container">
        <table class="players">
            <caption>Players</caption>
            <tbody>


            </tbody>
        </table>
    </aside>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="game.js"></script>
<script src="utils.js"></script>
</body>
</html>