<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="game.css">
    <link rel="prefetch" href="images/rolesCards/card_shirt.png">
    <link rel="prefetch" href="images/rolesCards/fascist_1.png">
    <link rel="prefetch" href="images/rolesCards/fascist_2.png">
    <link rel="prefetch" href="images/rolesCards/fascist_3.png">
    <link rel="prefetch" href="images/rolesCards/hitler.png">
    <link rel="prefetch" href="images/rolesCards/liberal_1.png">
    <link rel="prefetch" href="images/rolesCards/liberal_2.png">
    <link rel="prefetch" href="images/rolesCards/liberal_3.png">
    <link rel="prefetch" href="images/rolesCards/liberal_4.png">
    <link rel="prefetch" href="images/rolesCards/liberal_5.png">
    <link rel="prefetch" href="images/rolesCards/liberal_6.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>
<body>
<header>
    <img id="hitler-icon" src="images/secret-hitler-icon.png" alt="secret-hitler-icon">
    <section class="player-info">

    </section>
    <nav class="links">
        <a class="link" href="#">Все комнаты</a>
        <a class="link" href="#">Правила</a>
        <a class="link" href="#">Выход</a>
    </nav>
</header>
<main>
    <div class="fields">
        <section class="take-cards">
            <img class="low" src="images/lawCards/justLaw.png" alt="just-low">
        </section>
        <section class="fascist-field">
            <table class="fascist">
                <caption>Fascist</caption>
                <tbody>
                <tr>
                    <td id="f1"></td>
                    <td id="f2"></td>
                    <td id="f3"></td>
                    <td id="f4"></td>
                    <td id="f5"></td>
                    <td id="f-final"></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="liberal-field">
            <table class="liberal">
                <caption>Liberal</caption>
                <tbody>
                <tr>
                    <td id="l1"></td>
                    <td id="l2"></td>
                    <td id="l3"></td>
                    <td id="l4"></td>
                    <td id="l-final"></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="discard-cards">
            <img class="low" src="images/lawCards/justLaw.png" alt="just-low">
        </section>
    </div>
    <div class="vote-progress">
        <p><b>Vote progress</b></p>
        <form>
            <label class="checkbox-inline">
                <input type="checkbox" value=""> ➞
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value=""> ➞
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value=""> ➞
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value=""> Play politic card!
            </label>
        </form>
    </div>
    <aside class="players-container">
        <table class="players">
            <caption>Players</caption>
            <tbody>


            </tbody>
        </table>
    </aside>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="game.js"></script>
<script src="utils.js"></script>
</body>
</html>