.u-section-1 .u-sheet-1 {
  min-height: 514px;
}

.u-section-1 .u-image-1 {
  width: 470px;
  height: 150px;
  margin: 79px auto 0;
}

.u-section-1 .u-image-2 {
  width: 470px;
  height: 150px;
  margin: 10px auto 0;
}

.u-section-1 .u-image-3 {
  width: 63px;
  height: 90px;
  margin: -120px 244px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 63px;
  height: 90px;
  margin: -90px auto 0 244px;
}

.u-section-1 .u-btn-1 {
  margin: -90px auto 60px 244px;
  padding: 32px 4px;
}

.players-block {
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 20px;
  background: black;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-image-3 {
    height: 91px;
  }

  .u-section-1 .u-image-4 {
    height: 91px;
    margin-top: -91px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -91px;
    margin-left: 44px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 109px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 109px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -79px;
  }
}