<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menu.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>
<body>
<img class="banner" src="images/secret-hitler-banner.jpg" alt="main-banner">
<div class='container'>
    <form class="login-form">
        <div class="input-container">
            <input class="nickname-input" type="text" name="nickname" minlength="1" maxlength="16" required>
            <label> Ваше имя:</label>
        </div>
        <input class="next-button enter-button" type="submit" value="Войти">
        <a href="rules.html" class="rules-button" type="button">Правила</a>
    </form>
</div>
<script src="utils.js"></script>
<script src="menu.js"></script>
</body>
</html>