.u-section-1 .u-sheet-1 {
  min-height: 675px;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 430px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 43px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 42px auto;
}