.menu{
    list-style: none;
}

body{
    min-height: 100%;
}

.container{
    max-width: 30%;
    max-height: 50%;
    min-height: 30%;
    margin: auto auto;
    padding: 20px;
}

.container input {
    width: 100%;
    box-sizing: border-box;
}

.container input[type='button']{
    margin-top: 25%;
}