/* main styles */
*, *:before, *:after {
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu {
    list-style: none;
}

body {
    min-height: 100%;
    background-color: #F3886D;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    /*background-color: #343231;*/
    background: linear-gradient(#535063, #343231);
    border-radius: 3px;
    padding: 50px 70px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    /*overflow-y: scroll;*/
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    color: white;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 20px;
    color: white;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.password-container input {
    border: 0;
    border-bottom: 1px solid #E88F86;
    background: transparent;
    font-size: 16px;
    color: white;
    padding: 5px 5px;
}


label {
    font-family: 'Roboto', sans-serif;;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -12px;
    font-size: 16px;
}

.next-button, .rules-button {
    color: #fff;
    background-color: #94B88F;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 7px 7px 7px 0;
    font-family: 'Roboto', sans-serif;;
}

.next-button, .rules-button{
    margin: 5px 20px;
}

.input-container:valid ~ label {
    top: -12px;
    font-size: 12px;
}

.input-container:valid {
    top: -12px;
    font-size: 12px;
}

.banner {
    width: 100%;
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
}

/* button styles */
.find-button, .create-button, .update-button {
    color: #fff;
    display: flex;
    margin: 5px 20px;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 7px 7px 7px 0;
}

.back-button {
    color: #fff;
    display: flex;
    margin-left: -120%;
    font-size: 24px;
    cursor: pointer;
    border-radius: 7px 7px 7px 7px;
}

.create-button, .rules-button {
    background-color: #e76255;
}

.find-button, .update-button {
    background-color: #94B88F;
}

.back-button {
    background-color: #F1986C;
}

.password-container .enter-room-button {
    color: #fff;
    display: flex;
    margin: 5px 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px 7px 7px 0;
    background-color: #535063;
    border: 0;
    justify-content: center;
}

.find-button, .create-button, .next-button, .enter-button, .update-button, .back-button, .rules-button {
    box-shadow: 5px 5px #555555;
    transition: 0.5s;
}

.find-button:hover, .create-button:hover, .next-button:hover, .enter-button:hover, .update-button:hover,
.back-button:hover, .rules-button:hover {
    box-shadow: 3px 3px #555555;
    transition: 0.5s;
}

.find-button:active, .create-button:active, .next-button:active, .enter-button:active, .update-button:active,
.back-button:active, .rules-button:hover {
    box-shadow: 1px 1px #555555;
}

/* list styles */
ul li {
    display: block;
    position: relative;
}

ul li:not(:last-child) {
    margin-bottom: 16px;
}

ul li:before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: -30px;
    margin-top: -.9em;
    background: linear-gradient(45deg, #f69ec4, #f9dd94);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}


ul {
    display: block;
    margin-left: -10px;
    height: 200px;
    overflow: auto;
    margin-top: 30px;
}

ul:empty {
    height: 0;
}


/* font styles */

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

strong {
    font-family: 'Roboto', sans-serif;
    color: white;
}

text {
    font-family: 'Roboto', sans-serif;
    color: white;
}

li {
    font-family: 'Roboto', sans-serif;
    color: white;
}

input[type='checkbox'] {
    margin-bottom: 10%;
    margin-left: 15%;
}

a {
    text-decoration: none;
    text-align: center;
}


/*.input-player-count, .input-set-password, .input-room-name, .input-password, .create-room-button {*/
/*    margin: 5px 20px;*/
/*}*/

/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/


/*.container{*/
/*    max-width: 30%;*/
/*    max-height: 50%;*/
/*    min-height: 30%;*/
/*    margin: auto auto;*/
/*    padding: 20px;*/
/*    font-family: Tahoma, serif;*/

/*}*/


/*.container input {*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*}*/

/*.container .next-button{*/
/*    margin-top: 100px;*/
/*}*/


/*.next-button {*/
/*    color: #fff;*/
/*    background-color: #e74c3c;*/
/*    outline: none;*/
/*    border: 0;*/
/*    padding: 10px 20px;*/
/*    text-transform: uppercase;*/
/*    margin-top: 50px;*/
/*    border-radius: 2px;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*}*/

