<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
<img class="banner" src="images/secret-hitler-banner.jpg" alt="main-banner">
<div class='container'>
    <form>
        <div class="input-container">
            <input class="nickname-input" type="text" minlength="1" maxlength="15" required>
            <label> Ваше имя:</label>
        </div>
        <input class="next-button enter-button" type="button" value="Войти">
    </form>
</div>

<script src="menu.js"></script>
</body>
</html>