<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила игры</title>
    <link rel="stylesheet" href="rules.css">
</head>
<body>
<p class="hitler-icon"><img id="hitler-icon" src="images/secret-hitler-icon.png" alt="secret-hitler-icon"></p>
<a class="back-button" href="/">Вернуться назад</a>
<h1>Правила игры</h1>
<section class="main-conception">
    <h2>Общая концепция</h2>
    <p>В начале игры каждый игрок получает свою роль:
        либерал, фашист или Гитлер. Либералы находятся в
        большинстве, но они не знают наверняка, кто есть
        кто; Фашисты должны прибегать к саботажу для
        достижения своих целей. Гитлер играет за команду
        фашистов, но не знает остальных участников (если >6 игроков), и
        должен попытаться распознать их.</p>
    <p>Либералы побеждают после принятия пяти либеральных
        законов или убийства Гитлера. Фашисты для победы
        должны принять шесть фашистских законов, или
        избрать Гитлера канцлером после принятия трех
        фашистских законов.</p>
    <p>Каждый раз, когда принимается фашистский закон,
        правительство получает больше власти, и президент
        получает одноразовую возможность, которая должна
        быть использована до начала следующего раунда.
        Неважно, в какой команде президент; на самом деле,
        даже либералы могут подвергнуться соблазну принять
        фашистский закон, чтобы получить новые полномочия.</p>
</section>
<hr>
<section class="game-targets">
    <h2>Цели игры</h2>
    <p>У каждого игрока есть тайная роль как члена
        Либеральной или Фашистской партии.</p>
    <p>Игроки на стороне Либеральной партии выигрывают в
        случае:
    <ul>
        <li>
            Пять Либеральных законов успешно приняты.
        </li>
        <b>ИЛИ</b>
        <li>
            Гитлер был убит..
        </li>
    </ul>
    </p>
    <p>
        Игроки на стороне Фашистской партии выигрывают в
        случае:
    <ul>
        <li>
            Шесть Фашистских законов успешно приняты.
        </li>
        <b>ИЛИ</b>
        <li>
            Гитлер избран Канцлером в любое время после
            принятия трёх Фашистских законов.
        </li>
    </ul>
    </p>
</section>
<hr>
<section class="game">
    <h2>Игра</h2>
    <p>Тайный Гитлер играется по раундам. Каждый раунд
        состоит из выборов, законодательной сессии и
        исполнительных действий.
    </p>
    <h3>Выборы</h3>
    <h4>Выберите кандидата в президенты</h4>
    <p>В начале нового раунда, табличка Президента
        передвигается по часовой стрелке к новому
        игроку, который становится новым кандидатом в
        президенты.</p>
    <h4>Номинируйте Канцлера</h4>
    <p>Кандидат в президенты выбирает кандидата в канцлеры
        и перемешает к нему табличку канцлера.
        Кандидат в президенты имеет право обсуждать
        возможных канцлеров с остальными игроками для
        достижения консенсуса, и получить большие
        шансы быть избранным.</p>
    <p>Бывшие президент и канцлер получают табличку бывших
        президента и канцлера, и не могут быть
        номинированы на канцлера в следующем ходу. Это
        не влияет на возможность стать президентом.</p>
    <p>Если осталось только 5 игроков, только последний
        канцлер не может быть номинирован; последний
        президент может стать канцлером.</p>
    <p>Ещё есть правило, которое влияет на выборы: счетчик выборов (Election Tracker). Мы
        поговорим о нем позже.</p>
    <h4>Голосуйте</h4>
    <p>После того, как кандидат в президенты выбрал
        кандидата в канцлеры, игроки могут обсуждать
        предложенный вариант, пока все не будут готовы
        голосовать. При этом используются карты Ja и Nein,
        которые открываются всеми игроками
        одновременно.</p>
    <p>Если в голосовании ничья или большинство игроков
        проголосовало против:
        Кандидат в президенты теряет шанс быть избранным, а
        табличка президента переходит к следующему по
        часовой стрелке игроку. Счетчик выборов
        увеличивается на один пункт.</p>
    <p>Если группа отвергает три правительства подряд,
        страна погружается в хаос. Немедленно принимается закон на вершине стопки. Власть,
        предоставленная этим законом, игнорируется, но
        счетчик выборов обнуляется и любой игрок
        получает возможность стать канцлером на
        следующий ход. Если в колоде законов остается
        меньше трех карт, объедините её с колодой
        сброса и перемешайте, чтобы сформировать
        новую.</p>
    <p><strong>Каждый раз, когда принимается новый закон, счетчик</strong>
        выборов сбрасывается, вне зависимости от того,
        как был принят закон.</p>
    <p>Если в голосовании большинство проголосовали за:
        Кандидат в президенты и кандидат в канцлеры
        становятся новыми Президентом и Канцлером.</p>
    <p>Если уже были приняты три или более фашистских
        закона:
        Спросите, Гитлер ли новый Канцлер. Если да, то игра
        заканчивается, и фашисты побеждают. В противном
        случае другие игроки могут точно знать, что
        этот игрок - не Гитлер. </p>
    <h4>Законодательная сессия</h4>
    <p>Во время законодательной сессии, Президент и
        Канцлер работают вместе, чтобы принять новый
        закон. Президент берет три карты из колоды с
        законами, смотрит на них в своей руке (тайно),
        перемещает одну из них лицом вниз в колоду
        сброса и передает оставшиеся Канцлеру. Канцлер
        также смотрит на две карты, перемещает одну из
        них в колоду сброса, и кладет последнюю лицом
        вверх на соответствующую дорожку.</p>
    <p>Любая коммуникация между Президентом и Канцлером
        запрещена. Президент и Канцлер не могут
        выбирать законы для игры случайным образом,
        перемешивать карты перед сбросом одной или
        делать что-то ещё, чтобы избежать тайного и
        намеренного выбора закона.
        Не используйте необычные процедуры выбора -
        это портит дух игры.</p>
    <p>Игроки не могут видеть отклоненные законы. Они
        должны полагаться на слова Президента и
        Канцлера, которые могут лгать.</p>
    <p>Если правительство принимает либеральный закон
        или фашистский закон, который не дает
        президентской власти, начинается новый раунд с
        новых выборов.</p>
    <h3>Исполнительные действия</h3>
    <h3>Президентские права</h3>
    <p>Если новый фашистский закон дает президентское
        право, то Президент обязан использовать его до
        начала следующего раунда. Перед
        использованием, Президент может обсудить этот
        вопрос с остальными игроками, но в конечном
        итоге, только он решает, как и когда
        использовать свое право. Игра не продолжается,
        пока президент не использует право. Права
        используются только один раз; они не стакаются
        и не переходят на будущие ходы.</p>
    <h4>Исследование лояльности</h4>
    <p>Президент выбирает игрока для исследования.
        Выбранный игрок должен передать президенту
        свою командную карту (не карту роли!), который
        в своей руке проверяет лояльность игрока и
        возвращает карту. Президент может поделиться
        (или солгать) о результатах его расследования
        по его усмотрению. Один игрок не может быть
        дважды проверен за игру.</p>
    <h4>Выборы президента</h4>
    <p>Президент выбирает любого игрока, который
        становится следующим кандидатом в президенты,
        перенося к нему табличку президента. Новый
        президент выбирает кандидата в канцлеры и
        выборы продолжаются как обычно.</p>
    <h4>Просмотр законов</h4>
    <p>Президент в своей руке (тайно) смотрит на три
        верхних карты в колоде законов, и возвращает
        их обратно в том же порядке.</p>
    <h4>Уничтожение</h4>
    <p>Президент перемешает пулю к игроку, которого хочет
        уничтожить. Если этот игрок - Гитлер, игра
        заканчивается победой либералов. В противном
        случае остальные игроки не узнают роль
        убитого. Убитый игрок удаляется из игры, и не
        может говорить или голосовать.</p>
</section>
<h2>Удачной игры!</h2>
<h3>P. S: Если не поняли что-то в правилах, не грустите, игра всё подскажет!</h3>
</body>
</html>